FRAMER_PROJECT_URL=
FRAMER_API_KEY=
CRON_SECRET=

FRAMER_COLLECTION_NAME=Notified_Feed
NOTIFIED_RSS_URL=https://rss.globenewswire.com/RssFeed/organization/KRP8MKO23XlKmlSLWzS2WA==/content/fulltext/attachments/all
AUTO_PUBLISH=true
